# Auto detect text files and perform LF normalization
* text=auto

*.md text

# Custom for Visual Studio
*.cs     text diff=csharp
*.sln    text merge=union
*.csproj text merge=union
*.vbproj text merge=union
*.fsproj text merge=union
*.dbproj text merge=union
